body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    min-height: 60px;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    width: 100%
}

header{
    background-color: darkslategrey;
    color: white;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Right-head{
    padding-right: 10%;
}

li + li{
    margin-left: 15px;
}

.Left-head{
    padding-left: 10%;
}